<div class="body-wrapper">
  <!-- Main component for a primary marketing message or call to action -->
  <div id="homediv" class="home jumbotron">
    <h1>Welcome to EduHub</h1>
    <p>EduHub is the center of all educational content. </p>
    <p>Participate. Compete. Conquer.</p>
    <p>
      <a class="btn btn-lg btn-welcome" (click)="onLoginClick($event)" role="button">Login   <span class="glyphicon glyphicon-lock"></span></a>
      <a class="btn btn-lg btn-welcome" (click)="onSignupClick($event)" role="button">Sign Up   <span class="glyphicon glyphicon-lock"></span></a>
    </p>
  </div>
</div>
